<!DOCTYPE html>
<p>buttons works!</p>
<!--------------------------- 1metal smoothner------------------>
<div class="row mb-4">
    <div class="col-4">
        <button class="btn btn-w-md  btn-rounded" data-toggle="modal" data-target="#myModal" style="float: right; background-color: #f2a60c; color: black;"> <b>Metal Smoothner</b></button>
    </div>
</div>
<!-------------------------2 poly carbonate melter---------------------------->
<div class="row mb-4">
    <div class="col-4">
        <button class="btn btn-w-md  btn-rounded" data-toggle="modal" data-target="#myModal1" style="float: right; background-color: #f2a60c;; color: black;"> <b>poly-carbonate melter</b></button>
    </div>
</div>
<!-------------------------3beark down table------------------------------>
<div class="row mb-4">
    <div class="col-4">
        <button class="btn btn-w-md  btn-rounded" data-toggle="modal" data-target="#myModal2" style="float: right; background-color: #f2a60c;; color: black;"> <b>Break down table popup</b></button>
    </div>
</div>
<!---------------------4 beark down table-------------------->
<div class="row mb-4">
    <div class="col-4">
        <button class="btn btn-w-md  btn-rounded" data-toggle="modal" data-target="#myModal3" style="float: right; background-color: #f2a60c;; color: black;"> <b>Poly Melter</b></button>
    </div>
</div>
<!---------------------5 Metal  smoother-------------------->
<div class="row mb-4">
    <div class="col-4">
        <button class="btn btn-w-md  btn-rounded" data-toggle="modal" data-target="#myModal4" style="float: right; background-color: #f2a60c;; color: black;"> <b>Metal-smoothner1</b></button>
    </div>
</div>
<!---------------------6 Poly-Corbonate-------------------->
<div class="row mb-4">
    <div class="col-4">
        <button class="btn btn-w-md  btn-rounded" data-toggle="modal" data-target="#myModal5" style="float: right; background-color: #f2a60c;; color: black;"> <b>Poly-Carbonate-Melter1</b></button>
    </div>
</div>
<!-- -------------------1 POPUP metal smoothner------------ -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-left">
                <form>
                    <div class="form-group">
                        <div class="row col-12">
                            <div class="font-example-box">
                                <span class="pe-7s-trash"></span>
                            </div>
                            <button type="button" id="btnClose" class="close" data-dismiss="modal" aria-label="Close" style="color: #f2a60c;">
                                <span arial-hidden=" true">&times;</span>
                        </button>

                        </div>
                        <div class="col-lg-12">
                            <label class="mt-3">Machine Name</label>
                            <select class="select2_demo_1 form-control">
                                <option value="Metal Smoothner" >Metal Smoothner</option>
                                <option value="2 ">Option 2</option>
                                <option value="3 ">Option 3</option>
                                <option value="4 ">Option 4</option>
                                <option value="5 ">Option 5</option>
                            </select>
                        </div>
                        <div class="col-lg-12">
                            <label class="mt-3 ">Production Count</label>
                            <input type="text " class="form-control " placeholder="63,452,578 ">
                        </div>
                        <div class="col-lg-12">
                            <label class="mt-3">Product</label>
                            <select class="select2_demo_1 form-control">
                                <option value="1" >Precision Nuts</option>
                                <option value="2 ">Option 2</option>
                                <option value="3 ">Option 3</option>
                                <option value="4 ">Option 4</option>
                                <option value="5 ">Option 5</option>
                            </select>
                        </div>
                        <div class="col-lg-12">
                            <label class="mt-3">Active Status</label>
                            <select class="select2_demo_1 form-control">
                                <option value="1" >Active</option>
                                <option value="2 ">Option 2</option>
                                <option value="3 ">Option 3</option>
                                <option value="4 ">Option 4</option>
                                <option value="5 ">Option 5</option>
                            </select>
                        </div>
                        <div class="col-lg-12">
                            <label class="mt-3">Operator</label>
                            <select class="select2_demo_1 form-control">
                                <option value="1" >Ram Vilas Paswan</option>
                                <option value="2 ">Option 2</option>
                                <option value="3 ">Option 3</option>
                                <option value="4 ">Option 4</option>
                                <option value="5 ">Option 5</option>
                            </select>
                        </div>

                        <div>
                            <button type="button " class=" btn btn-rounded " style=" background-color: #f2a60c; color: black; height: 40px;width: 150px; font-size: 20px; margin-left: 130px; margin-top: 50px;" data-dismiss="modal "><b>Save</b></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- -------------------2 POPUP poly-carbonate melter------------ -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-left">
                <form>
                    <div class="form-group">
                        <div class="row col-12">
                            <div class="font-example-box">
                                <span class="pe-7s-trash"></span>
                            </div>
                            <button type="button" id="btnClose" class="close" data-dismiss="modal" aria-label="Close" style="color: #f2a60c;">
                                <span arial-hidden=" true">&times;</span>
                        </button>

                        </div>

                        <div class="col-lg-12">
                            <label class="mt-3">Machine Name</label>
                            <select class="select2_demo_1 form-control">
                                <option value="1" >Poly-Carbonate Melter</option>
                                <option value="2 ">Option 2</option>
                                <option value="3 ">Option 3</option>
                                <option value="4 ">Option 4</option>
                                <option value="5 ">Option 5</option>
                            </select>
                        </div>



                        <div class="col-lg-12">
                            <label class="mt-3 ">Breakdown Count</label>
                            <input type="text " class="form-control " placeholder="311 ">
                        </div>
                        <div class="col-lg-12">
                            <label class="mt-3 ">Rework Count</label>
                            <input type="text " class="form-control " placeholder="64 ">
                        </div>


                        <div class="col-lg-12">
                            <label class="mt-3">Product</label>
                            <select class="select2_demo_1 form-control">
                                <option value="1" >Active</option>
                                <option value="2 ">Option 2</option>
                                <option value="3 ">Option 3</option>
                                <option value="4 ">Option 4</option>
                                <option value="5 ">Option 5</option>
                            </select>
                        </div>
                        <div class="col-lg-12">
                            <label class="mt-3">Operator</label>
                            <select class="select2_demo_1 form-control">
                                <option value="1" >Neil Nitin Mukean</option>
                                <option value="2 ">Option 2</option>
                                <option value="3 ">Option 3</option>
                                <option value="4 ">Option 4</option>
                                <option value="5 ">Option 5</option>
                            </select>
                        </div>

                        <div>
                            <button type="button " class=" btn btn-rounded mt-lg-5 " style=" background-color: #f2a60c;; color: black; height: 40px;width: 150px; font-size: 20px; margin-left: 130px; margin-top: 50px;" data-dismiss="modal "><b>Save</b></button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- -------------------3 POPUP table----------- -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; width:100%;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="margin-top: 58px;">
            <div class="modal-header text-center">
                <div class="row">
                    <div class="col-12 form-group has-search">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" placeholder="Search for an existing production" style="float: left;background-color: #2b2926;border-radius: 9px; margin-left: 9px;width: 40%; border: 1px solid #403c37;  height: -webkit-fill-available;" class="form-control">

                        <button type="button" id="btnClose" class="close" data-dismiss="modal" aria-label="Close" style="color: #f2a60c; align-items: flex-end;">
                            <span arial-hidden=" true">&times;</span>
                    </button>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-filled">
                            <div class="panel-body">
                                <table class="table table-striped table-hover table-responsive-sm" id="t-transparent" style="border-radius: 5px; ">
                                    <thead>
                                        <tr>
                                            <th>Machine</th>
                                            <th>Product</th>
                                            <th>Production</th>
                                            <th>Operator</th>
                                            <th>Status</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr style="border-radius:5px;">
                                            <td>Flywheel Cutter</td>
                                            <td>Flywheel Disk</td>
                                            <td>435,243</td>
                                            <td>F Qureshi</td>
                                            <td>Active</td>
                                            <td>
                                                <span class="glyphicon glyphicon-option-horizontal"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3D Printer</td>
                                            <td>TFM Boards</td>
                                            <td>3,452</td>
                                            <td>M Vajpayee</td>
                                            <td>Active</td>
                                            <td>
                                                <span class="glyphicon glyphicon-option-horizontal"></span>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>Data Analysis Engine</td>
                                            <td></td>
                                            <td></td>
                                            <td>NDD Modi</td>

                                            <td>Active</td>
                                            <td>
                                                <span class="glyphicon glyphicon-option-horizontal"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Welding Set</td>
                                            <td>Couple Rod</td>
                                            <td>356,235</td>
                                            <td>N Siddqui</td>
                                            <td>Inactive</td>
                                            <td>
                                                <span class="glyphicon glyphicon-option-horizontal"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Poly-Carbonate Melter</td>
                                            <td>Brake Caliper Shell</td>
                                            <td>17,823</td>
                                            <td>NN Mukesh</td>
                                            <td>Inactive</td>
                                            <td>
                                                <span class="glyphicon glyphicon-option-horizontal"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Propyl Emulsifier</td>
                                            <td>Brake Caliper Shell</td>
                                            <td>17,823</td>
                                            <td>R Rastogi</td>
                                            <td>Active</td>
                                            <td>
                                                <span class="glyphicon glyphicon-option-horizontal"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Metal Smoothner</td>
                                            <td>Precision Nuts</td>
                                            <td>63.4 M</td>
                                            <td>RV Paswan</td>
                                            <td>Active</td>
                                            <td>
                                                <span class="glyphicon glyphicon-option-horizontal"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Chemical Neutrilizer</td>
                                            <td>TFM Board</td>
                                            <td>345,216</td>
                                            <td>R Chanchad</td>
                                            <td>Active</td>
                                            <td>
                                                <span class="glyphicon glyphicon-option-horizontal"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Coke Smeller</td>
                                            <td>Carbon Monocoque</td>
                                            <td>951</td>
                                            <td>V Gilligan</td>
                                            <td>Inactive</td>
                                            <td>
                                                <span class="glyphicon glyphicon-option-horizontal"></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Conveyer Runner</td>
                                            <td></td>
                                            <td>435,243</td>
                                            <td>V Das</td>
                                            <td>Active</td>
                                            <td>
                                                <span class="glyphicon glyphicon-option-horizontal"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="btn-group" style="float:right">
                                    <button type="button" class="btn btn-default" style="margin-right:10px ;background-color: #f2a60c;; color: black;"><i class="fa fa-chevron-left"></i></button>

                                    <button type="button" class="btn btn-default" style="background-color: #f2a60c;; color: black;"><i class="fa fa-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---------------------------4 POPUP Poly melter-------------------------->
<div class="modal" id="myModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-left">
                <div class="row col-12">
                    <button type="button" id="btnClose" class="close" data-dismiss="modal" aria-label="Close" style="color: #f2a60c;">
                        <span arial-hidden=" true">&times;</span>
                </button>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <small class="stat-label">Active Status</small>
                        <h4 class="m-t-xs" style="color: red;">Inactive </h4>
                    </div>
                    <div class="col-md-4">
                        <small class="stat-label">Machine code</small>
                        <h4 class="m-t-xs">SMM</h4>
                    </div>
                    <div class="col-md-4">
                        <small class="stat-label">Efficiency</small>
                        <h4 class="m-t-xs">55%</h4>
                    </div>
                </div>
                <small class="stat-label mb-lg-3">Machine Name</small>
                <h2 class="m-t-none mt-2">Poly-Carbonate Melter</h2>

                <div class="row">
                    <div class="col-md-4">
                        <small class="stat-label">Operated By</small>
                        <h4 class="m-t-xs">NN Mukesh</h4>
                    </div>
                    <div class="col-md-8">
                        <small class="stat-label">Product</small>
                        <h4 class="m-t-xs">Brake clipper shell</h4>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <small class="stat-label">Last Breakdown</small>
                        <h4 class="m-t-xs">12 min ago </h4>
                    </div>
                    <div class="col-md-4">
                        <small class="stat-label">Duration</small>
                        <h4 class="m-t-xs">1 Hour 21 Minutes</h4>
                    </div>
                    <div class="col-md-4">
                        <small class="stat-label">Variance</small>
                        <h4 class="m-t-xs" style="color: red;">23% above average</h4>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <small class="stat-label">Time and Date</small>
                        <h4 class="m-t-xs">21:04 GMT,<br>05 sept 2021 </h4>
                    </div>

                    <div class="col-md-4">
                        <small class="stat-label">Resone</small>
                        <h4 class="m-t-xs">Broken Fuel Rod</h4>
                    </div>
                    <div class="col-md-4">
                        <small class="stat-label">Remark </small>
                        <h4 class="m-t-xs">None</h4>
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-4">
                        <small class="stat-label">Total Breakdown</small>
                        <h4 class="m-t-xs">311</h4>
                    </div>
                    <div class="col-md-8">
                        <small class="stat-label">Total Rework Done</small>
                        <h4 class="m-t-xs">64</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <small class="stat-label">Most Commaon Reason</small>
                        <h4 class="m-t-xs">Insufficient Voltage Supply</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="m-t-xs mt-lg-1" style="color: #f2a60c;">view Complete Breakdown Log</h4>

                    </div>
                </div>
                <div>
                    <button type="button " class=" btn btn-rounded mt-lg-5" style=" background-color: #f2a60c;; color: black; height: 40px;width: 170px; font-size: 20px; margin-left: 120px;" data-dismiss="modal"><b>Edit</b></button>
                </div>
            </div>

        </div>
    </div>

</div>
<!----------------------------- 5 POPUP Metal-smoothner1--------------------------->
<div class="modal" id="myModal4" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-left">
                <div class="row col-12">
                    <button type="button" id="btnClose" class="close" data-dismiss="modal" aria-label="Close" style="color: #f2a60c;">
                        <span arial-hidden=" true">&times;</span>
                </button>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <small class="stat-label">Active Status</small>
                        <h4 class="m-t-xs" style="color: green;"> Active</h4>
                    </div>
                    <div class="col-md-4">
                        <small class="stat-label">Machine code</small>
                        <h4 class="m-t-xs">SMM</h4>
                    </div>
                </div>
                <small class="stat-label mb-lg-3">Machine Name</small>
                <h2 class="m-t-none mt-2">Metal Smoothner</h2>

                <div class="row">
                    <div class="col-md-4">
                        <small class="stat-label">Operated By</small>
                        <h4 class="m-t-xs">RV Paswan</h4>
                    </div>
                    <div class="col-md-4">
                        <small class="stat-label">Product</small>
                        <h4 class="m-t-xs">Precision Nuts</h4>
                    </div>
                    <div class="col-md-4">
                        <small class="stat-label">Efficiency</small>
                        <h4 class="m-t-xs">54%</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <small class="stat-label">Product Count</small>
                        <h4 class="m-t-xs" style="font-size: 30px;">63.4M</h4>
                    </div>
                    <div class="col-md-4">
                        <small class="stat-label">Growth</small>
                        <h4 class="m-t-xs" style="font-size: 30px;color: green;">+12%</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <small class="stat-label">Last Breakdown</small>
                        <h4 class="m-t-xs">12 min ago </h4>
                    </div>
                    <div class="col-md-6">
                        <small class="stat-label">Rise in Breakdown frequency</small>
                        <h4 class="m-t-xs" style="color: green;">-2%</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <small class="stat-label">Last Breakdown Date</small>
                        <h4 class="m-t-xs">11 Aug 2021 </h4>
                    </div>

                    <div class="col-md-6">
                        <small class="stat-label">Last Breakdown Resone</small>
                        <h4 class="m-t-xs">Insufficient Voltage</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="m-t-xs mt-lg-3" style="color: #f2a60c;">view Complete Breakdown Log</h4>
                    </div>
                </div>
                <div>
                    <button type="button " class=" btn btn-rounded mt-lg-5" style=" background-color: #f2a60c;; color: black; height: 40px;width: 170px; font-size: 20px;margin-left: 130px; 
                    " data-dismiss="modal"><b>Edit</b></button>
                </div>
            </div>

        </div>
    </div>

</div>
<!------------------------- 6 POPUP Poly-Smoothner-Melter1 --------------------------->
<div class="modal" id="myModal5" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-left">
                <div class="row col-12">
                    <button type="button" id="btnClose" class="close" data-dismiss="modal" aria-label="Close" style="color: #f2a60c;">
                        <span arial-hidden=" true">&times;</span>
                </button>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <small class="stat-label">Shift</small>
                        <h4 class="m-t-xs">Morning</h4>
                    </div>
                    <div class="col-md-4">
                        <small class="stat-label">Opertated by</small>
                        <h4 class="m-t-xs">NN Mukesh</h4>
                    </div>
                </div>
                <small class="stat-label mb-lg-3">Machine Name</small>
                <h2 class="m-t-none mt-2">Poly-Carbonate Melter</h2>
                <div class="row">
                    <div class="col-md-4">
                        <small class="stat-label">Start</small>
                        <h4 class="m-t-xs">08.27 IST</h4>
                    </div>
                    <div class="col-md-4">
                        <small class="stat-label">End</small>
                        <h4 class="m-t-xs">11.30 IST</h4>
                    </div>
                    <div class="col-md-4">
                        <small class="stat-label">Duration</small>
                        <h4 class="m-t-xs">3 h 3 min</h4>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <small class="stat-label">Reason</small>
                        <h4 class="m-t-xs">Leaking Pump</h4>
                    </div>
                    <div class="col-md-4">
                        <small class="stat-label">Remark</small>
                        <h4 class="m-t-xs">Replaced Pump</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <small class="stat-label">Sub - Reason</small>
                        <h4 class="m-t-xs">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae ipsa id eligendi commodi vero perspiciatis ea laudantium quae explicabo quaerat, omnis et! Aperiam libero aspernatur tenetur officiis iusto mollitia ex. Lorem,ipsum
                            dolor sit amet consectetur adipisicing elit. Blanditiis ipsum minus nesciunt possimus repudiandae molestias ratione, expedita magni tempore vel dignissimos similique porro cumque facere! Doloribus explicabo praesentium consectetur
                            illo.
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <button type="button " class=" btn btn-rounded mt-lg-5" style=" background-color: #f2a60c;; color: black; height: 40px;width: 170px; font-size: 20px; margin-left: 130px;" data-dismiss="modal"><b>Edit</b></button>
                </div>
            </div>
        </div>
    </div>
</div>