<div class="main-container">

    <!-- 1st left part start -->
    <div class="part1">
        <!-- pbox define a logo P -->
        <div class="pbox">
            <b id="pa">P</b>
        </div>
        <!-- heading tag -->
        <h1 id="pr">PROEFFICIENT</h1>
        <h5 id="sbe"><i>Streamlined Business effciency</i></h5>
        <!-- paragraph tag -->
        <p id="pp">Present porttitor consecteture felis <br> at convallis.Vivamus aliquot propa<br> tristiqe ipsum, et vulputate eros in <br> element id ut scelerisque ante</p>
    </div>
    <!--1st left part close -->

    <!-- 2nd part start -->
    <div class="part2">
        <!-- aside tag use  bcoz to partion of the page  -->
        <aside>

            <div class="account">Don't have an account?
                <!-- singup button  -->
                <!-- <button type="submit" id="signup-button"> SignUp</button> -->
                <a class="btn btn-default" id="signup-button1">Sign Up</a> </div>
            <div>
                <!-- using form -->
                <form  id="loginForm" novalidate>
                    <!-- heading -->
                    <div class="head1">Let's get started</div>

                    <h4 id="en">Enter your details to log into ProEfficient</h4>

                    <!-- user icon and user field -->
                    <div class="input-icons1">
                        <i class="fa fa-user icon"></i>
                        <input class="input-field1" type="text" name="username" value="" placeholder=" &nbsp; &nbsp; &nbsp; USERNAME" zpattern="^[A-Za-z0-9_]{2,15}$" title="Enter Valid UserName">
                    </div>

                    <!-- password icon field -->
                    <div class="input-icons1">

                        <i class="fa fa-lock icon"></i>
                        <input class="input-field1" type="password" value="" placeholder=" &nbsp; &nbsp; &nbsp; PASSWORD" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
                    </div>

                    <!--  Log in button-->
                    <button type="submit" id="login-button1" routerLink="/dashboard">Log In</button>

                    <!-- chekbox for remember me -->
                    <!-- take lable -->
                    <label class="chekbox12">
                      
                            <input type="checkbox"> <span id="span1">Remember Me</span>
           
                    </label>

                </form>
                <!-- form close -->
            </div>
        </aside>
    </div>
    <!-- 2nd part  close -->
</div>