<aside class="navigation">
    <nav>
        <ul class="nav luna-nav">
            <!-- <li class="nav-category">
            Main
            </li> -->
            <li class="active">
                <a routerLink=""> <span class="glyphicon glyphicon-th-large"></span> Dashboard</a>
            </li>




            <li class="active">
                <a routerLink="manage"> <span class="glyphicon glyphicon-tasks"></span> Manage</a>
            </li>


            <li class="active">
                <a routerLink="schedule"> <span class="glyphicon glyphicon-calendar"></span> Schedule</a>
            </li>


            <!-- <li class="active">
                <a href="/#"><span class="glyphicon glyphicon-bishop"></span> Production</a>
            </li> -->

            <li>
                <a area-labeled="operations" routerLink="operations" data-toggle="collapse" aria-expanded="false">
                    <span class="glyphicon glyphicon-bishop"></span> Operations
                </a>
                <!-- <ul id="operations" class="nav nav-second collapse">
                    <li><a href=""> <span class="glyphicon glyphicon-cog"></span> Production </a>
                    </li>

                    <li>
                        <a href="breakdwn.html"> <span class="glyphicon glyphicon-cog"></span> Breakdown </a>
                    </li>
                </ul> -->
            </li>
            <div style="margin-left: 20px;">
                <li class="active">
                    <a routerLink="production"> <span class="glyphicon glyphicon-calendar"></span> Production</a>
                </li>
                <li class="active">
                    <a routerLink="breakdown"> <span class="glyphicon glyphicon-calendar"></span> Breakdown</a>
                </li>
               
            </div>
           
            <li class="active">
                <a routerLink="report"><span class="glyphicon glyphicon-list-alt"></span> Report</a>
            </li>

            <li class="active">

                <a routerLink="data">
                    <span class="glyphicon glyphicon-list"></span> Data </a>
            </li>
     
        </ul>
    </nav>
</aside>