<!DOCTYPE html>
<div class="popup-box pbc ">
    <p style="margin-top: 10px;margin-left: 10px;height: 20px;font-size: 14px;color:#f2f2f2;"><b>Overview</b></p>
</div>
<div class="popup-box pbc pbcd">
    <table class="table table-sm" style="border-top:none; color: aliceblue; margin-top: 5px; margin-left: 1px; ">
        <thead>
            <tr>
                <th style="text-align: left;height: 20px;font-size: 14px;color:#f2f2f2;"><b>Last 24 hours statistics</b></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 200px;">Production vs Breakdown Ratio</td>
                <td class="text-right">78%</td>
            </tr>
            <tr>
                <td>Production</td>
                <td class="text-right">9810</td>
            </tr>
            <tr>
                <td>Breakdowns</td>
                <td class="text-right">12</td>
            </tr>
            <tr>
                <td>Total Stall Time</td>
                <td class="text-right">1h 12m</td>
            </tr>
            <tr>
                <td>Revenue</td>
                <td class="text-right"><span class="usage14">$ 3,100</span></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="popup-box pbc pbcd">
    <table class="table table-sm" style="color: aliceblue; margin-top: 5px; margin-left: 1px; ">
        <thead>
            <tr>
                <th style="text-align: left;height: 20px;font-size: 14px;color:#f2f2f2;"><b>future Estimation</b></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 200px;">Overall Efficiency Increase</td>
                <td class="text-right rd">-14%</td>
            </tr>
            <tr>
                <td>Production Increase</td>
                <td class="text-right gr">+12%</td>
            </tr>
            <tr>
                <td>Breakdowns increase</td>
                <td class="text-right rd">+25%</td>
            </tr>
            <tr>
                <td>Total Stall Time Increase</td>
                <td class="text-right gr">-11m</td>
            </tr>
            <tr>
                <td>Revenue Increase</td>
                <td class="text-right gr"><span class="usage14">+16%</span></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="popup-box pbc pbce">
    <p style="margin-top: 10px;margin-left: 10px;height: 20px;font-size: 14px;color:#f2f2f2;">Production vs Breakdown Graph</p>

</div>
<div class="popup-box pbc pbcd lsm">
    <table class="table table-sm" style="color: aliceblue; margin-top: 5px; margin-left: 1px; ">
        <thead>
            <tr>
                <th style="text-align: left;height: 20px;font-size: 14px;color:#f2f2f2;"><b>future Estimation</b></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 200px;">CVYRR334</td>
                <td class="text-right">98%</td>
            </tr>
            <tr>
                <td>DAEMON</td>
                <td class="text-right">97%</td>
            </tr>
            <tr>
                <td>3DS-M42D</td>
                <td class="text-right">93%</td>
            </tr>
            <tr>
                <td>MLT89PC</td>
                <td class="text-right">82%</td>
            </tr>
            <tr>
                <td>WS-567</td>
                <td class="text-right"><span class="usage14">79%</span></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="popup-box pbc pbcd ll">
    <table class="table table-sm" style="color: aliceblue; margin-top: 5px; margin-left: 1px; ">
        <thead>
            <tr>
                <th style="text-align: left;height: 20px;font-size: 14px;color:#f2f2f2;"><b>Top 5 Breaking Machines</b></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 200px;">OPI21H</td>
                <td class="text-right">54</td>
            </tr>
            <tr>
                <td>SMM </td>
                <td class="text-right">49</td>
            </tr>
            <tr>
                <td>NEZR</td>
                <td class="text-right">40</td>
            </tr>
            <tr>
                <td>CKS32 </td>
                <td class="text-right">34</td>
            </tr>
            <tr>
                <td>MRX-200H</td>
                <td class="text-right"><span class="usage14">31</span></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="popup-box pbc pbcd ll">
    <table class="table table-sm" style="color: aliceblue; margin-top: 5px; margin-left: 1px; ">
        <thead>
            <tr>
                <th style="text-align: left;height: 20px;font-size: 14px;color:#f2f2f2;"><b>Top 5 Breakdown Reasons</b></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="width: 200px;">Voltage overrun</td>
                <td class="text-right">231</td>
            </tr>
            <tr>
                <td>Raw Material Insufficient</td>
                <td class="text-right">78</td>
            </tr>
            <tr>
                <td>Overheat</td>
                <td class="text-right">71</td>
            </tr>
            <tr>
                <td>Admin Approval Revocation</td>
                <td class="text-right">30</td>
            </tr>
            <tr>
                <td>Computation Fault</td>
                <td class="text-right"><span class="usage14">231</span></td>
            </tr>
        </tbody>
    </table>
</div>