<div class="row" style="margin-top: 20px;">
    <div class="col-8 form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" placeholder="Search for an existing production"
            style="float: left;background-color: #2b2926;border-radius: 9px; margin-left: 9px;width: 65%; border: 1px solid #403c37; margin-bottom: 10px; height: -webkit-fill-available;"
            class="form-control">

    </div>
    <div class="col-4">
        <button class="btn btn-w-md  btn-rounded" style="float: right; background-color: #f7af3e; color: black;"><b> + Add
            Production</b></button>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-filled">
            <div class="panel-body">
                <table class="table table-striped table-hover table-responsive-sm" id="t-transparent" style="border-radius: 5px;">
                    <thead>
                        <tr>
                            <th>Machine</th>
                            <th>Product</th>
                            <th>Production</th>
                            <th>Operator</th>
                            <th>Status</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr style="border-radius:5px;" >
                            <td>Flywheel Cutter</td>
                            <td>Flywheel Disk</td>
                            <td>435,243</td>
                            <td>F Qureshi</td>
                            <td>Active</td>
                            <td>
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>3D Printer</td>
                            <td>TFM Boards</td>
                            <td>3,452</td>
                            <td>M Vajpayee</td>
                            <td>Active</td>
                            <td>
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                            </td>
                        </tr>

                        <tr>
                            <td>Data Analysis Engine</td>
                            <td></td>
                            <td></td>
                            <td>NDD Modi</td>

                            <td>Active</td>
                            <td>
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Welding Set</td>
                            <td>Couple Rod</td>
                            <td>356,235</td>
                            <td>N Siddqui</td>
                            <td>Inactive</td>
                            <td>
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Poly-Carbonate Melter</td>
                            <td>Brake Caliper Shell</td>
                            <td>17,823</td>
                            <td>NN Mukesh</td>
                            <td>Inactive</td>
                            <td>
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Propyl Emulsifier</td>
                            <td>Brake Caliper Shell</td>
                            <td>17,823</td>
                            <td>R Rastogi</td>
                            <td>Active</td>
                            <td>
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Metal Smoothner</td>
                            <td>Precision Nuts</td>
                            <td>63.4 M</td>
                            <td>RV Paswan</td>
                            <td>Active</td>
                            <td>
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Chemical Neutrilizer</td>
                            <td>TFM Board</td>
                            <td>345,216</td>
                            <td>R Chanchad</td>
                            <td>Active</td>
                            <td>
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Coke Smeller</td>
                            <td>Carbon Monocoque</td>
                            <td>951</td>
                            <td>V Gilligan</td>
                            <td>Inactive</td>
                            <td>
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>Conveyer Runner</td>
                            <td></td>
                            <td>435,243</td>
                            <td>V Das</td>
                            <td>Active</td>
                            <td>
                                <span class="glyphicon glyphicon-option-horizontal"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>