
<div class="container">
    <div class="row">
        <div class="col-8">
            <div style="    padding-left: 31px
            ;">
                <h4>Wed , 07 Sept 2021 </h4>
            </div>

               <div>
                   <button class="btn btn-w-md btn-default btn-rounded "
                    style="background-color: #f7af3e; color: black; float: right;
                    margin-top: -40px
                ;"> <i class="fas fa-plus"></i><b>+ Add Task </b> </button>
               </div>
            <div class="dd" id="nestable">
                <ol class="dd-list">
                   
                        <ol class="dd-list">
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle">
                                    <span class="pull-left" style="color: #f7af3e;"> 12:00 pm </span>
                                       <span  style="color: white; 
                                       padding-left: 36px; text-align: justify;"> Vivamus  sit amet consectetur adipisicing elit. Ab, neque. </span>  
                                       <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                                </div>
                            </li>
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle">
                                    <span class="pull-left" style="color: #f7af3e;"> 12:00 pm </span>
                                       <span  style="color: white; 
                                       padding-left: 36px"> Vivamus  sit amet consectetur adipisicing elit. Ab, neque. </span>  
                                       <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                                </div>
                            </li>
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle">
                                    <span class="pull-left" style="color: #f7af3e;"> 12:00 pm </span>
                                       <span  style="color: white; 
                                       padding-left: 36px"> Vivamus  sit amet consectetur adipisicing elit. Ab, neque. </span>  
                                       <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                                </div>
                            </li>
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle">
                                    <span class="pull-left" style="color: #f7af3e;"> 12:00 pm </span>
                                       <span  style="color: white; 
                                       padding-left: 36px"> Vivamus  sit amet consectetur adipisicing elit. Ab, neque. </span>  
                                       <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                                </div>
                            </li>
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle">
                                    <span class="pull-left" style="color: #f7af3e;"> 12:00 pm </span>
                                       <span  style="color: white; 
                                       padding-left: 36px"> Vivamus  sit amet consectetur adipisicing elit. Ab, neque. </span>  
                                       <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                                </div>
                            </li>
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle">
                                    <span class="pull-left" style="color: #f7af3e;"> 12:00 pm </span>
                                       <span  style="color: white; 
                                       padding-left: 36px"> Vivamus  sit amet consectetur adipisicing elit. Ab, neque. </span>  
                                       <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                                </div>
                            </li>
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle">
                                    <span class="pull-left" style="color: #f7af3e;"> 12:00 pm </span>
                                       <span  style="color: white; 
                                       padding-left: 36px"> Vivamus  sit amet consectetur adipisicing elit. Ab, neque. </span>  
                                       <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                                </div>
                            </li>
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle">
                                    <span class="pull-left" style="color: #f7af3e;"> 12:00 pm </span>
                                       <span  style="color: white; 
                                       padding-left: 36px"> Vivamus  sit amet consectetur adipisicing elit. Ab, neque. </span>  
                                       <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                                </div>
                            </li>
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle">
                                    <span class="pull-left" style="color: #f7af3e;"> 12:00 pm </span>
                                       <span  style="color: white; 
                                       padding-left: 36px"> Vivamus  sit amet consectetur adipisicing elit. Ab, neque. </span>  
                                       <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                                </div>
                            </li>
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle">
                                    <span class="pull-left" style="color: #f7af3e;"> 12:00 pm </span>
                                       <span  style="color: white; 
                                       padding-left: 36px"> Vivamus  sit amet consectetur adipisicing elit. Ab, neque. </span>  
                                       <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                                </div>
                            </li>
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle">
                                    <span class="pull-left" style="color: #f7af3e;"> 12:00 pm </span>
                                       <span  style="color: white; 
                                       padding-left: 36px"> Vivamus  sit amet consectetur adipisicing elit. Ab, neque. </span>  
                                       <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                                </div>
                            </li>
                            <li class="dd-item" data-id="2">
                                <div class="dd-handle">
                                    <span class="pull-left" style="color: #f7af3e;"> 12:00 pm </span>
                                       <span  style="color: white; 
                                       padding-left: 36px"> Vivamus  sit amet consectetur adipisicing elit. Ab, neque. </span>  
                                       <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                                </div>
                            </li>
                        </ol>
                   

                   
                </ol>
            </div>
        </div>
        <div class="col-4">
            One of three columns
        </div>
      
    </div>
</div>