<div class="container">
    <div class="row">
        <div class="col-8">
            <div style="    padding-left: 31px
            ;">
                <h4>Wed , 07 Sept 2021 </h4>
            </div>

            <div>
                <button class="btn btn-w-md btn-default btn-rounded " style="background-color: #f7af3e; color: black; float: right;
                    margin-top: -40px
                ;"> <i class="fas fa-plus"></i><b>+ Add Task </b> </button>
            </div>
            <div class="dd" id="nestable">
                <ol class="dd-list">

                    <ol class="dd-list">
                        <li class="dd-item" data-id="2">
                            <div class="dd-handle">
                                <span class="pull-left" style="color: #f7af3e; font-size: 20px;"> 06:00 </span>
                                <span style="color:   #777574; 
                                       padding-left: 36px; text-align: justify;"> Vivamus sit amet consectetur
                                    adipisicing elit. Ab, neque. </span>
                                <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                            </div>
                        </li>
                        <li class="dd-item" data-id="2">
                            <div class="dd-handle">
                                <span class="pull-left" style="color: #f7af3e; font-size: 20px;"> 07:00 </span>
                                <span style="color:   #777574; 
                                       padding-left: 36px"> Vivamus sit amet consectetur adipisicing elit. Ab, neque.
                                </span>
                                <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                            </div>
                        </li>
                        <li class="dd-item" data-id="2">
                            <div class="dd-handle">
                                <span class="pull-left" style="color: #f7af3e; font-size: 20px;"> 08:00 </span>
                                <span style="color:   #777574; 
                                       padding-left: 36px"> Vivamus sit amet consectetur adipisicing elit. Ab, neque.
                                </span>
                                <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                            </div>
                        </li>
                        <li class="dd-item" data-id="2">
                            <div class="dd-handle">
                                <span class="pull-left" style="color: #f7af3e; font-size: 20px;"> 09:00 </span>
                                <span style="color:   #777574; 
                                       padding-left: 36px"> Vivamus sit amet consectetur adipisicing elit. Ab, neque.
                                </span>
                                <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                            </div>
                        </li>
                        <li class="dd-item" data-id="2">
                            <div class="dd-handle">
                                <span class="pull-left" style="color: #f7af3e; font-size: 20px;"> 10:00 </span>
                                <div> <span
                                        style="color: #777574;  display:block;  margin-left: 40px;  padding-left:45px">
                                        Vivamus sit amet consectetur adipisicing elit. Ab, neque.
                                        Vivamus sit amet consectetur adipisicing elit. Ab, neque.
                                        Vivamus sit amet consectetur adipisicing elit. Ab, neque.
                                    </span>
                                </div>

                                <span class="pull-left" style="color: #777574; margin-left: 15px;"> 11:00 </span>
                                <span style="color:   #777574; 
                                       padding-left: 36px"> Vivamus sit amet consectetur adipisicing elit. Ab, neque.
                                </span>
                                <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                                <br>
                                <span class="pull-left" style="color: #777574; margin-left: 15px;"> 11:30 </span>
                                <span style="color:   #777574; 
                                       padding-left: 36px"> Vivamus sit amet consectetur adipisicing elit. Ab, neque.
                                </span>
                                <br>
                                <span class="pull-left" style="color: #777574; margin-left: 15px;"> 12:00 </span>
                                <span style="color:   #777574; 
                                       padding-left: 36px"> Vivamus sit amet consectetur adipisicing elit. Ab, neque.
                                </span>
                                <br>
                        <li class="dd-item" data-id="2">

                            <span class="pull-left" style="color: #f7af3e;font-size: 20px;"> 12:59 </span>
                        </li>
            </div>
            </li>
            <li class="dd-item" data-id="2">
                <div class="dd-handle">
                    <span class="pull-left" style="color: #777574;font-size: 20px;"> 13:00 </span>
                    <span style="color:   #777574; 
                                       padding-left: 36px"> Vivamus sit amet consectetur adipisicing elit. Ab, neque.
                    </span>
                    <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                </div>
            </li>

            <li class="dd-item" data-id="2">
                <div class="dd-handle">
                    <span class="pull-left" style="color: #f7af3e; font-size: 20px;"> 14:00 </span>
                    <div> <span style="color: #777574;  display:block;  margin-left: 40px;  padding-left:45px">
                            Vivamus sit amet consectetur adipisicing elit. Ab, neque.
                            Vivamus sit amet consectetur adipisicing elit. Ab, neque.
                            Vivamus sit amet consectetur adipisicing elit. Ab, neque.
                        </span>
                    </div>

                    <i class="fa fa-trash-o" style="float: right; margin-top: 5px;"></i>

                    <br>

                    <span class="pull-left" style="color: #777574; margin-left: 15px;"> 15:00 </span>
                    <span style="color:   #777574; 
                           padding-left: 36px"> Vivamus sit amet consectetur adipisicing elit. Ab, neque.
                    </span>


                    <br>

            <li class="dd-item" data-id="2">

                <span class="pull-left" style="color: #f7af3e;font-size: 20px;"> 15:59 </span>

            </li>


        </div>
        </li>
        </ol>
        </ol>
    </div>
</div>

<div class="col-4">
    One of three columns
    <div class="col-lg-4">
        <div class="panel">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                <div class="m-t-md">

                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                        Schedule</button> <br>
<br>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#onsiteLT">
                        OnsiteLT</button>

                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <!-- <div class="modal-header"> -->
                                <!-- <div>
                                <i id="i4" class="fa fa-times" aria-hidden="true"></i></div> -->
                                <a class="panel-close"><i class="fa fa-times"
                                        style="color:#f2a60c; float: right; padding-top:20px; padding-right: 10px;"></i></a>
                                <div class="wed">Wednesday</div>
                                <div class="data">
                                    07 Sept 21
                                </div>

                                <!-- <div class="modal-body"> -->
                                <div class="holiday">No holiday</div>
                                <div class="Contains">Contains schedule for <span class="span4"> these tasks</span>
                                </div>

                                <div class="no-dec">No description available.</div>
                                <button class="submit-sept" type="submit"><b>Edit</b></button>
                                <!-- </div> -->

                                <!-- </div> -->
                            </div>
                        </div>





                    </div>




                    <div class="modal fade" id="onsiteLT" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog ">
                            <div class="modal-content onsite">
                                <!-- <div class="modal-header"> -->
                                <!-- <div>
                            <i id="i4" class="fa fa-times" aria-hidden="true"></i></div> -->
                                <a class="panel-close"><i class="fa fa-times" style="color:#f2a60c; float: right; padding-top:20px; padding-right: 10px;"></i></a>  

                                <!-- <div class="onsite"> -->

                                    <!-- <div>
                                        <i id="trash" class="fa fa-trash" aria-hidden="true"><i id="ti"
                                                class="fa fa-times" aria-hidden="true"></i>
                                        </i>
                                    </div> -->

                                    <div class="date">
                                        Wed, 07 Sept 21
                                    </div>
                                    <div class="task-name">Task Name</div>
                                    <div class="data-on">On-site L&T inspection</div>
                                    <div class="comes">Comes under shift</div>
                                    <div class="comes">Supervised by</div>
                                    <br>
                                    <div class="p1">Mid-Day
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mohan
                                        Das Sharma</div>

                                    <div class="from">From</div>
                                    <div class="from">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;To</div>
                                    <br>
                                    <br>
                                    <div class="p2">10:00 &nbsp;&nbsp;<span>-</span>&nbsp;&nbsp; 12:59
                                    </div>




                                    <div class="duration">For duration </div>
                                    <div class="time">2 Hours 59 Minutes </div>
                                    <div class="data-des"> Description </div>
                                    <div>
                                        <p>Pellentesque ac enim vitae libero ullamcorper rhoncus.<br>Suspendisse maximus
                                            non dolor at tincidunt.Fusce in <br>tincidunt nisi.Cras sed erat sit amet
                                            dolor convallis mo<br>lestie. Supendisse finibus varius nulla,ac lacinia
                                            felis</p>
                                    </div>
                                    <button class="submit" type="submit"><b>Edit</b></button>

                                <!-- </div> -->




                            </div>

                        </div>

                    </div>
                </div>


            </div>

        </div>

    </div>

<!-- </div> -->