<aside class="navigation">
    <nav>
        <ul class="nav luna-nav">
            <!-- <li class="nav-category">
            Main
            </li> -->
            <li class="active">
                <a href="index.html"> <span class="glyphicon glyphicon-th-large"></span> Dashboard</a>
            </li>




            <li class="active">
                <a href="/#"> <span class="glyphicon glyphicon-tasks"></span> Manage</a>
            </li>


            <li class="active">
                <a href="/#"> <span class="glyphicon glyphicon-calendar"></span> Schedule</a>
            </li>


            <!-- <li class="active">
                <a href="/#"><span class="glyphicon glyphicon-bishop"></span> Production</a>
            </li> -->

            <li>
                <a href="#uielements" data-toggle="collapse" aria-expanded="">
                    <span class="glyphicon glyphicon-bishop"></span> Operations
                </a>
                <ul id="uielements" class="nav nav-second collapse">
                    <li><a href="production.html"> <span class="glyphicon glyphicon-cog"></span> Production </a>
                    </li>

                    <li>
                        <a href="breakdwn.html"> <span class="glyphicon glyphicon-cog"></span> Breakdown </a>
                    </li>
                </ul>
            </li>


            <li class="active">
                <a href="/#"><span class="glyphicon glyphicon-list-alt"></span> Report</a>
            </li>

            <li class="active">

                <a href="/#">
                    <span class="glyphicon glyphicon-list"></span> Data </a>
            </li>
     
        </ul>
    </nav>
</aside>