<aside class="navigation">
    <nav>
        <ul class="nav luna-nav">
            <!-- <li class="nav-category">
            Main
            </li> -->
            <li class="active">
                <a routerLink="dashboard"> <span class="glyphicon glyphicon-th-large"></span> Dashboard</a>
            </li>




            <li class="active">
                <a routerLink="manage"> <span class="glyphicon glyphicon-tasks"></span> Manage</a>
            </li>


            <li class="active">
                <a routerLink="schedule"> <span class="glyphicon glyphicon-calendar"></span> Schedule</a>
            </li>


            <!-- <li class="active">
                <a href="/#"><span class="glyphicon glyphicon-bishop"></span> Production</a>
            </li> -->

            <li>
            <ul id="uielements" class="nav nav-second collapse">
                <a routerLink="operations" data-toggle="collapse" aria-expanded="">
                    <span class="glyphicon glyphicon-bishop"></span> Operations
                </a>
                
                    <li><a routerLink="production"> <span class="glyphicon glyphicon-cog"></span> Production </a>
                    </li>

                    <li>
                        <a routerLink="breakdown"> <span class="glyphicon glyphicon-cog"></span> Breakdown </a>
                    </li>
                </ul>

            </li>


            <li class="active">
                <a routerLink="report"><span class="glyphicon glyphicon-list-alt"></span> Report</a>
            </li>

            <li class="active">

                <a routerLink="data">
                    <span class="glyphicon glyphicon-list"></span> Data </a>
            </li>
     
        </ul>
    </nav>
</aside>